{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="feed_view" style="display: none">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h3 id="recentes_header" style="margin:3px; padding:3px 0px 0px 0px;">Recentes</h3>
                </div>

                <div class="col">
                    <h3 id="seguindo_header" style="margin:3px; padding:3px 0px 0px 0px">Seguindo</h3>
                </div>
            </div>
        </div>
        <div id="feed"></div>
    </div>

    <div id="messages_view" style="display: none">
        
        <div class="container text-left">
            <div class="row open_messages" style="background: rgba(255, 255, 255, 0.151);;padding:10px 0px 0px 0px">
                <div class="col-auto" style="padding:2px 0px 0px 6px">
                    <h1><i class="bi bi-chevron-left"></i></h1>
                </div>
                <div class="col-auto" id="message_header_pfp">
                    
                </div>
                <div class="col-auto" style="padding:0px;">
                    <b style="font-size:160%" id="message_header_username"></b>
                </div>
            </div>

            <div id="messages_view_body"></div>
            <!--

            <div style="height:8px"></div>

            <div class="container">
                
                <div class="row">
                    <div class="col">
                        <div class="d-inline-flex p-2" style="background-color:rgb(13, 93, 184); border-radius:10px">
                            aaa
                        </div>
                    </div>
                </div>

                <div style="height:8px"></div>

                <div class="row">
                    <div class="col">
                        <div class="d-inline-flex p-2" style="background-color:rgb(13, 93, 184); border-radius:10px">
                            bundainha lorem ipsum isso é um texto de teste
                        </div>
                    </div>
                </div>

                <div style="height:8px"></div>

                <div class="row justify-content-end">
                    <div class="col-auto">
                        <div class="d-inline-flex p-2" style="background-color:rgb(89, 89, 89); border-radius:10px">
                            ahamn
                        </div>
                    </div>
                </div>

                <div style="height:8px"></div>

                <div class="row justify-content-end">
                    <div class="col-auto">
                        <div class="d-inline-flex p-2" style="background-color:rgb(89, 89, 89); border-radius:10px">
                            teste stestes tetste 
                        </div>
                    </div>
                </div>
            </div>
             -->

            <div class="row fixed-bottom" style="bottom:64px; margin:0px 0px 10px 0px">
                <div class="col-10" style="padding:0px 0px 0px 10px">
                    <textarea class="d-inline-flex p-2" style="background-color:rgb(89, 89, 89); border-radius:500px; width:100%; height:45px"></textarea>
                </div>
                <div class="col-2">
                    <div class="d-inline-flex p-2" style="background-color:rgb(89, 89, 89); border-radius:500px">
                        &nbsp;<i class="bi bi-send-fill"></i>&nbsp;
                    </div>
                </div>
            </div>

        </div>
       
        
    </div>

    <div id="chats_view" style="margin:10px; display: none">
        <h1>Conversas</h1>
        <hr>

        <div id="chats"></div>
    </div>
    

    <div id="create_form" style="margin:10px; display: none">
        <h1>Criar thuíte</h1>
        <form action='{% url "create" %}' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="null">

            <div class="form-floating" style="margin:20px 0px">
                <textarea autofocus class="form-control" placeholder="Leave a comment here" name="content" id="content" style="height: 100px"></textarea>
                <label for="content">escreva o que está pensando</label>
            </div>
            
            <input type="file" id="image" name="arquivo">

            <div style="display:flex; justify-content:right; margin:0px 20px;">
                <button type="submit" class="btn btn-primary mb-3">thuitar</button>
            </div>
            
        </form>
    </div>

    <div id="post_view" style="display: none">

        <div id="main_post"></div>

        <form action="{% url 'create' %}" method="post" id="comment_form" style="padding:10px;">
            {% csrf_token %}
            <input type="hidden" id="post_id_for_comment" name="post_id" value="{{ request.path }}">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" name="content" id="comment_content"></textarea>
                <label for="floatingTextarea">Comentário</label>
            </div>
            <div style="height:8px;"></div>
            <div style="display:flex; justify-content:right; margin:0px 20px;">
                <button type="submit" class="btn btn-primary mb-3">comentar</button>
            </div>        
        </form>

        <div id="post_comments"></div>

    </div>

    <div id="profile_view" style="display: none">
        <div id="profile_header"></div>
        
        <!-- Modal for pfp -->
        <form action="{% url 'change_pfp' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="modal fade" id="edit_profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Editar perfil</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Trocar Foto de Perfil:</h3>
                    <input type="file" id="pfp_img_file" name="pfp_img_file">
                    <!--<hr>
                    <h3>Nome de usuário:</h3>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <hr>
        <div id="profile_feed"></div>
    </div>

    <div style="padding:10px; display:flex; justify-content:center">
        <!--<div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div>você chegou ao fim da tl!</div>-->
    </div>

    <!-- Modal for deleting post -->
    <div class="modal fade" id="delete_post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Deletar post?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Essa ação não poderá ser desfeita. O post será removido de todos os lugares.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" data-bs-dismiss="modal" id="delete_post_button" class="btn btn-danger">Deletar</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal for 3dots post -->
    <div class="modal fade" id="post_options_owner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Opções do thuíte</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--<button type="button" data-bs-dismiss="modal" class="btn btn-primary"><i class="bi bi-pencil"></i> Editar post</button>-->
                <div style="height:10px;"></div>
                <button type="button" data-bs-target="#delete_post" data-bs-toggle="modal" class="btn btn-danger"><i class="bi bi-trash"></i> Deletar post</button>            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
            </div>
        </div>
    </div>

    <div style="height:70px"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}