{% extends "network/layout.html" %}

{% block body %}

    <h2>Criar conta</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Nome de Usuário">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Senha">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirme a Senha">
        </div>
        <input class="btn btn-primary" type="submit" value="Criar Conta">
    </form>

    Já tem uma conta? <a href="{% url 'login' %}">Faça Login!</a>
    <script>
        document.querySelector('#logo').addEventListener('click', () => location.replace('/'));

        if (!localStorage.getItem('theme')){
        localStorage.setItem('theme', 'light');} 
        document.querySelector('html').setAttribute('data-bs-theme',localStorage.getItem('theme'))

        let mode_toggle = document.querySelector('#mode-toggle');
        if (localStorage.getItem('theme') == 'light'){
            mode_toggle.innerHTML = '<i class="bi bi-moon"></i>';
        }else{
            mode_toggle.innerHTML = '<i class="bi bi-sun"></i>';
        }
        mode_toggle.addEventListener('click', () => {
            if (localStorage.getItem('theme') == "light"){
                mode_toggle.innerHTML = '<i class="bi bi-sun"></i>';
                document.querySelector('html').setAttribute('data-bs-theme','dark');
                localStorage.setItem('theme', 'dark');
            }else{
                mode_toggle.innerHTML = '<i class="bi bi-moon"></i>';
                document.querySelector('html').setAttribute('data-bs-theme','light');
                localStorage.setItem('theme', 'light');
            }
        });
    </script>
{% endblock %}